<%- include("partials/header"); -%> 
<input class="searchArea" type="text" name="" id="search-box" placeholder="Search..." autofocus/>
<section id="searchResults">

</section>
<h1 id="blogh1">All the Blogs at one place.</h1>

<p><%= blogContent %></p>


<%  posts.forEach(function(post){ %>

    <h2><%=post.title%></h2>
    <p>
    <%=post.content.substring(0, 440) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    
    
<% }) %>
    


<%- include("partials/footer"); -%>

