<%- include("partials/header"); -%> 

<input class="searchArea" onkeyup="sendData(this)" type="text" name="" id="search-box" placeholder="Search..." autofocus/>
<section id="searchResults"></section>

<h1 id="blogh1">All the Articles at one place.</h1>
<p><%= blogContent %></p>
<div class="trail">
<% let start = 0 %>
<% let end = 20 %>
<% posts = posts.slice(start,end); %>

<%  posts.forEach(function(post){ %>
    <img id="blogimg" src="<%=post.img%>" alt="<%=post.title%>" >

    <h2><%=post.title%></h2>
    <p>
    <%=post.content.substring(0, 440) + " ..."%>
    <a class="styleAnchor" href="/posts/<%=post._id%>">Read More</a>
    </p>
    
    
<% }) %>
</div>
<div class="pagination">
    <ul> <!--pages or li are comes from javascript --> </ul>
</div>
<script src="script.js"></script>

<%- include("partials/footer"); -%>

