
<%- include("partials/header"); -%>

<h1 class="section-title">Latest Popular Blogs</h1>


<div class="media-scroller snaps-inline" id="container">
<%  homes.forEach(function(home){ %>
    <div class="media-element">
    <h2><%=home.title.substring(0, 130)%></h2>
    <p class="title">
    <%=home.content.substring(0, 560) + " ..."%>
    <a href="/post/<%=home._id%>">Read More</a>
    </p>
    </div>
    
<% }) %>
    
</div>

<p class="sideways">  ⏪ scroll sideways ⏩  </p>

 <!-- works to do  
1. seprate section of latest blog and popular blog, then pass to same app.get route from different collections of datas
2. horizontal scrolling through mouse wheel in only latest blogs section/div outside of it, vertical scroll mouse wheel
3. scroll sideways text integrated inside the scroll bar or scroll bar track
4. google adsense ad vertical bar in posts page right side , decreses the paragraph length which helps in fast reading
5. add page numeber |previous| 1 > 2 > 3 >...> 10 |next| in blogs page for for than 10 content
-->


<%- include("partials/footer"); -%>
