
<%- include("partials/header"); -%>

<h1 class="section-title">Latest Articles</h1>


<div class="media-scroller snaps-inline" id="container">
<%  homes.forEach(function(home){ %>
    <div class="media-element">
    <h2><%=home.title.substring(0, 130)%></h2>
    <img id="homeimg" src="<%=home.img%>" alt="<%=home.title%>" >
    <p class="title">
        <%=home.content.substring(0, 240) + "..."%>
        <a class="styleAnchor" href="/post/<%=home._id%>">Read More</a>
    </p>
    </div>
    
<% }) %>
    
</div>

<p class="sideways">  ⏪ scroll sideways ⏩  </p>

 <!-- works to do  
1. seprate section of latest blog and popular blog, then pass to same app.get route from different collections of datas
2. horizontal scrolling through mouse wheel in only latest blogs section/div outside of it, vertical scroll mouse wheel
3. scroll sideways text integrated inside the scroll bar or scroll bar track
4. google adsense ad vertical bar in posts page right side , decreses the paragraph length which helps in fast reading
5. add page numeber |previous| 1 > 2 > 3 >...> 10 |next| in blogs page for for than 10 content
6. search for whole title in blog search, currently searching only 1st word of title in database
-->

<h1 class="section-title">Popular Articles</h1>


<div class="media-scroller snaps-inline" id="container">
<%  pops.forEach(function(pop){ %>
    <div class="media-element">
    <h2><%=pop.title.substring(0, 130)%></h2>
    <img id="homeimg" src="<%=pop.img%>" alt="<%=pop.title%>" >
    <p class="title">
        <%=pop.content.substring(0, 240) + "..."%>
        <a class="styleAnchor" href="/post/<%=pop._id%>">Read More</a>
    </p>
    </div>
    
<% }) %>
    
</div>

<%- include("partials/footer"); -%>
