
<%- include("partials/header"); -%>

<h1 class="section-title">Latest Popular Blogs</h1>


<div class="media-scroller snaps-inline" id="container">
    
<%  homes.forEach(function(home){ %>
    <div class="media-element">
    <h2><%=home.title.substring(0, 130)%></h2>
    <p class="title">
    <%=home.content.substring(0, 560) + " ..."%>
    <a href="/post/<%=home._id%>">Read More</a>
    </p>
    </div>
    
<% }) %>

</div>
<p class="sideways">  ⏪ scroll sideways ⏩  </p>


<%- include("partials/footer"); -%>
