<%- include("partials/header"); -%>

<div id="divleft"></div>
<div id="divright"></div>
<div class="wrapper" id="middle">
	<div class="profile">
		<!-- <script>
			function newTab() {
				window.open("/portfolio.json", "_blank");
			}
		</script> -->
		<br />
		<br />

		<h2>Achyut Koirala</h2>
		<p
			style="
				margin-top: -13px;
				font-size: 12px;
				font-family: 'Courier New', Courier, monospace;
			"
		>
			I Work with APIs
		</p>
		!!! <br />
		<p style="font-family: monospace; font-size: 18px">
			Currently I'm a creator of code at Backend who lives off of 1's and
			0's only. I do wonders with Node.js and Go. I am always looking for
			exciting projects to sink my teeth into and striving to exceed my
			own expectations.
			<br /><br />

			At present, I'm strengthening my knowledge on Networking and
			Security and also contributing to Open Source on backend projects in
			NodeJS and Go. I've mostly worked in projects including
			Authentication and Verification with Cookies and tokens, REST APIs,
			Redis, SQLite, but mostly in NoSQL databases like MongoDB and
			CosmosDB.<br />
			I'm a Microsoft Certified on Azure at Fundamentals level. I've been
			a computer hardware technician, worked with different computer
			systems and have knowledge of troubleshooting, backup and recovery,
			and configuring networks. I also carry Project Management and Report
			Writing Skills. I am highly interested in Bug Hunting for fun and
			passionate to make a Career in Digital forensics. <br /><br />
			Besides development, I like to read well-documented contents and
			books and On a personal note, I enjoy thunderstorms and rain,
			sceneries of hills and mountains and love to wonder alone in the
			thoughts of my own.<br /><br />
			Whether you're a potential employer, a collaborator, or just
			someone, I invite you to enter the matrix of my mind, where I turn
			bits into bytes and bytes into brilliance.

			<br /><br /><br /><br /><img
				src="/images/profile.jpg"
				alt="achyut_koirala_"
				height="120px"
				width="110px"
				style="object-fit: contain; border-radius: 12%"
			/>
			<br /><br />View my Resume at
			<a class="simpleAnchor" href="/portfolio.json" target="_blank"
				>https://resume.achyut.koirala/portfolio</a
			>

			<br />GitHub
			<a
				class="simpleAnchor"
				href="https://github.com/axyut"
				target="_blank"
				>https://github.com/axyut</a
			>
			<br />
			LinkedIn
			<a
				class="simpleAnchor"
				href=" https://linkedin.com/in/axyut"
				target="_blank"
			>
				https://linkedin.com/in/axyut</a
			>
			<br />
			Twitter
			<a
				class="simpleAnchor"
				href=" https://twitter.com/achyut_koirala_"
				target="_blank"
			>
				https://twitter.com/achyut_koirala_</a
			>
			<br /><a class="simpleAnchor" href="/publish">Contact Me</a>
		</p>
		<br />
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Major Projects
		</h1>
		<ol>
			<li>
				<a
					href="https://web-production-9c42.up.railway.app/"
					target="_blank"
					class="simpleAnchor"
					>Anonymous Chat Application</a
				>
			</li>

			<li>
				<a
					href="https://github.com/axyut/keeper-app-client"
					target="_blank"
					class="simpleAnchor"
					>Google Keeps Clone</a
				>
			</li>
			<li>
				<a
					href="https://github.com/axyut/data_visualization_d3"
					target="_blank"
					class="simpleAnchor"
					>Data Visualization</a
				>
			</li>
			<li>
				<a
					href="http://github.com/axyut"
					target="_blank"
					class="simpleAnchor"
					>Open Source Contributions</a
				>
			</li>
			<li>
				<a href="/" target="_blank" class="simpleAnchor"
					>Blog Website</a
				>
			</li>
			<li>
				<a href="/" target="_blank" class="simpleAnchor"
					>Application Tracking System</a
				>
			</li>
			<li>
				<a
					href="https://github.com/axyut/pythonMinorProjects"
					target="_blank"
					class="simpleAnchor"
					>C and Python Minor Projects</a
				>
				<ul>
					<li>
						<a
							href="https://github.com/axyut/Youtube_video_downloader"
							target="_blank"
							class="simpleAnchor"
							>YouTube Video Downloader</a
						>
					</li>
					<li>
						<a
							href="https://github.com/axyut/SnakeGame_python"
							target="_blank"
							class="simpleAnchor"
							>Snake Game</a
						>
					</li>
				</ul>
			</li>
			<li>
				Microservices with NodeJS
				<ul>
					<li>
						<a href="/" target="_blank" class="simpleAnchor"
							>Mini App</a
						>
					</li>
					<li>
						<a href="/" target="_blank" class="simpleAnchor"
							>Max App</a
						>
					</li>
				</ul>
			</li>
		</ol>
	</div>

	<div class="year_timeline">
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Timeline
		</h1>

		<h2>2023</h2>

		<% port2023.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2022</h2>

		<% port2022.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2021</h2>

		<% port2021.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2020</h2>

		<% port2020.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>
		<h2>2019</h2>

		<% port2019.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>
	</div>
	<div class="contact">
		<p class="styleAnchor">
			<br /><br />
			<br />

			<br />
			<a class="styleAnchor" href="/publish">Contact Me</a>
		</p>
	</div>
</div>

<%- include("partials/footer"); -%>
