<%- include("partials/header"); -%>

<div id="divleft"></div>
<div id="divright"></div>
<div class="wrapper" id="middle">
	<div class="profile">
		<!-- <script>
			function newTab() {
				window.open("/portfolio.json", "_blank");
			}
		</script> -->
		<br />
		<br />

		<h2>Achyut Koirala</h2>
		<p
			style="
				margin-top: -13px;
				font-size: 12px;
				font-family: 'Courier New', Courier, monospace;
			"
		>
			I Work with APIs
		</p>
		!!! <br />
		<p style="font-family: monospace; font-size: 18px">
			I'm a Backend application developer doing wonders with Node.js and
			Go. I am always looking for exciting projects to sink my teeth into
			and striving to exceed my own expectations.
			<br /><br />

			At present, I'm strengthening my knowledge on Networking and
			Security and also contributing to Open Source on backend projects in
			Node.js and Go. I've worked in Express.js, Nest.js and Fiber
			projects including Authentication and Authorization with Cookies and
			tokens, developed REST APIs, integrated databases like SQLite, Redis
			and mostly NoSQL DBs like MongoDB.<br /><br />
			I'm a Microsoft Certified in Azure Fundamentals. I've been a
			computer hardware technician, worked with different computer systems
			and have knowledge of troubleshooting, backup and recovery,
			configuring networks and Azure Cloud Services. I also carry Project
			Management and Report Writing Skills. I am highly interested in Bug
			Hunting for fun and passionate to make a Career in Digital
			forensics. <br /><br />
			Besides development, I like to read well-documented contents and
			books. On a personal note, I enjoy sunsets, evening rain with wind
			and thunder, sceneries of mountains and love to wonder alone in the
			thoughts of my own.<br /><br />
			Whether you're a potential employer, a collaborator, or just
			someone, I invite you to enter the matrix of my mind, where I turn
			bits into bytes and bytes into brilliance.

			<br /><br /><br /><br /><img
				src="/images/profile.jpg"
				alt="achyut_koirala_"
				height="120px"
				width="110px"
				style="object-fit: contain; border-radius: 12%"
			/>
			<br /><br />View my JSON Resume at
			<a class="simpleAnchor" href="/port/resume.json" target="_blank"
				>https://../portfolio.json</a
			>

			<br />GitHub
			<a
				class="simpleAnchor"
				href="https://github.com/axyut"
				target="_blank"
				>https://github.com/axyut</a
			>
			<br />
			LinkedIn
			<a
				class="simpleAnchor"
				href=" https://linkedin.com/in/axyut"
				target="_blank"
			>
				https://linkedin.com/in/axyut</a
			>
			<br />
			Twitter
			<a
				class="simpleAnchor"
				href=" https://twitter.com/achyut_koirala_"
				target="_blank"
			>
				https://twitter.com/achyut_koirala_</a
			>
			<br />View<a
				class="simpleAnchor"
				href="https://www.linkedin.com/in/axyut/details/certifications/"
			>
				Certifications</a
			><br /><a class="simpleAnchor" href="/publish">Contact Me</a>
		</p>

		<br />
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Major Projects
			<!-- Facebook Clone, Resume Maker -->
		</h1>
		<ol>
			<li>
				<a
					href="https://web-production-9c42.up.railway.app/"
					target="_blank"
					class="simpleAnchor"
					>Anonymous Chat Application</a
				>
			</li>

			<li>
				<a href="https://github.com/axyut/" target="_blank" class="simpleAnchor"
					>Open Source Contributions</a
				>
			</li>
			<li>
				<a
					href="https://github.com/axyut/Resume_maker"
					target="_blank"
					class="simpleAnchor"
					>Resume Maker</a
				>
			</li>
			<li>
				<a href="/" target="_blank" class="simpleAnchor"
					>Portfolio-Blog Website</a
				>
			</li>
			<li>
				<a href="https://github.com/axyut/" target="_blank" class="simpleAnchor"
					>Application Tracking System</a
				>
			</li>
			<li>
				<a href="https://github.com/axyut/" target="_blank" class="simpleAnchor"
					>Phising Application</a
				>
			</li>
			<li>
				<a
					href="https://github.com/axyut/pythonMinorProjects"
					target="_blank"
					class="simpleAnchor"
					>Minor Projects (C, Python, Node.js)</a
				>
				<ul>
					<li>
						<a
							href="https://github.com/axyut/SnakeGame_python"
							target="_blank"
							class="simpleAnchor"
							>Snake Game</a
						>
					</li>
					<li>
						<a
							href="https://github.com/axyut/keeper-app-client"
							target="_blank"
							class="simpleAnchor"
							>Google Keeps Clone</a
						>
					</li>
					<li>
						<a
							href="https://github.com/axyut/data_visualization_d3"
							target="_blank"
							class="simpleAnchor"
							>Data Visualization with D3</a
						>
					</li>
				</ul>
			</li>
			<li>
				Microservices with Node.js
				<ul>
					<li>
						<a
							href="https://github.com/axyut/posting_app_microservice_nodejs"
							target="_blank"
							class="simpleAnchor"
							>Posts, Comments App</a
						>
					</li>
					<li>
						<a
							href="https://github.com/axyut/Ticketing_App"
							target="_blank"
							class="simpleAnchor"
							>Ticket Booking App</a
						>
					</li>
				</ul>
			</li>
		</ol>
		<br />
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Tech-Stack
		</h1>
		<p
			style="
				margin-top: -13px;
				font-size: 12px;
				font-family: 'Courier New', Courier, monospace;
			"
		>
			Skills and Tools
		</p>
		<ul>
			<li>
				Language
				<ul>
					<li>Node.js</li>
					<li>Go</li>
				</ul>
			</li>
			<li>
				Frameworks and Templating Engine
				<ul>
					<li>React.js with vite.js, Next.js</li>
					<li>Express.js, Nest.js, Fiber</li>
					<li>Ejs, hbs, Jekyll</li>
				</ul>
			</li>
			<li>
				Database
				<ul>
					<li>NOSQL: MongoDB, Redis</li>
					<li>SQL: SQLite, PostgreSQL</li>
					<li>ORM: TypeORM, Mongoose</li>
				</ul>
			</li>

			<li>
				Tools
				<ul>
					<li>Postman, Jest and Supertest</li>
					<li>Bash, Git and GitHub</li>
					
				</ul>
			</li>
			<li>
				Cloud and Deployments
				<ul>
					<li>Docker Containers, K8s Cluster</li>
					
				</ul>
			</li>
		</ul>
		<br />
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Books
		</h1>
		<p
			style="
				margin-top: -13px;
				font-size: 12px;
				font-family: 'Courier New', Courier, monospace;
			"
		>
			My Top likes (in No particular Order)
		</p>
		<ul>
			<li>Karnali Blues by Buddhi Sagar 🇳🇵</li>
			<li>Let's Go Further by Alex Edwards</li>
			<li>
				The Web Application Hacker's Handbook, Dafydd Stuttard, Marcus
				Pinto
			</li>
			<li>American Kingpin by Nick Bilton</li>
			<li>Summer Love, Saya by Subin Bhattrai 🇳🇵</li>
			<li>How To Win Every Argument: The Use and Abuse of Logic</li>
			<li>12 Rules For Life by Jordan B Peterson</li>
			<li>The Power of Moments by Chip Heath and Dan Heath</li>
			<li>
				Invention and Innovation: A Brief History of Hype and Failure
			</li>
			<li>Future Crimes by Marc Goodman</li>
		</ul>
	</div>

	<div class="year_timeline">
		<h1
			style="
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
					'Trebuchet MS', sans-serif;
			"
		>
			Timeline
		</h1>

		<h2>2023</h2>

		<% port2023.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2022</h2>

		<% port2022.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2021</h2>

		<% port2021.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>

		<h2>2020</h2>

		<% port2020.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>
		<h2>2019</h2>

		<% port2019.forEach(function(port){ %>

		<ul>
			<li>
				<h3>
					<a href="/port/<%=port._id%>" class="portAnchor"
						><%=port.title%>
					</a>
				</h3>
			</li>
		</ul>

		<% }) %>
	</div>
	<div class="contact">
		<p class="styleAnchor">
			<br /><br />
			<br />

			<br />
			<a class="styleAnchor" href="#middle">Back to Top</a>
		</p>
	</div>
</div>

<%- include("partials/footer"); -%>
