<%- include("partials/header"); -%>
<link rel="import" href="first.html">
</div>


<div id="divleft">
   
</div>
<div id="divright">
    
</div>
<div id="middle">
   <h2><%= title %></h2>
    <img id="postimg" src="<%= img %>" alt="<%= title %>" >
   
    <div><%- content %></div>
  





</div>
</main>
</body>
</html>